.demo .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.demo .modal-dialog {
  width: auto;
  margin: 0 auto;
}
.demo .popover {
  position: relative;
  display: block;
  float: left;
  width: auto;
  margin: 0 auto;
  max-width: none;
  z-index: 2;
}
.demo .tooltip {
  position: relative;
  display: block;
  margin: 10px auto;
  opacity: 1;
  max-width: 200px;
  z-index: 2;
}
.demo .tooltip-inner {
  max-width: none;
}